
<div class="row">
    <div class="col-lg-8">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Datos del Hospital</h4>
                <form class="form-horizontal p-t-20">
                    <div class="form-group row">
                        <label class="col-sm-3 control-label">Nombre</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fas fa-user-md"></i></div>
                                <input type="text" class="form-control" formControlName="nombre" placeholder="Nombre">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row m-b-0">
                        <div class="offset-sm-3 col-sm-9">
                            <button type="submit" class="btn btn-primary waves-effect waves-light">
                                <i class="fa-solid fa-floppy-disk"></i>
                                Guardar cambios
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>