<div class="fondo-modal-image animate__animated animate__fadeIn animate__delay" [class.ocultar-modal]="modalImageService.ocultarModal">
    <div id="responsive-modal" class="modal fade show" role="dialog" aria-labelledby="myModalLabel" style="display: block; padding-right: 17px;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Cambiar imagen</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="cerrarModal()">×</button>
                </div>
                <div class="modal-body">
                    <div class="col mb-2 text-center img-container">
                        <img *ngIf="!imgTemp" class="img-thumbnail" [src]="modalImageService.img">
                        <img *ngIf="imgTemp" class="img-thumbnail" [src]="imgTemp">
                    </div>
                    <div class="col">
                        <input (change)="capturarFoto($event)" type="file" class="form-control" id="inputFile">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal" (click)="cerrarModal()">Cancelar</button>
                    <button type="button" class="btn btn-info waves-effect waves-light" (click)="actualizarFoto(modalImageService.Guid)">Guardar Imagen</button>
                </div>
            </div>
        </div>
    </div>
</div>
