.fondo-modal-image{
    background-color: rgba(0, 0, 0, 0.4);
    left: 0px;
    top: 0px;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 99;
}

.ocultar-modal{
    display: none;
}

.animate__delay {
    --animate-duration: 0.5s; /* Cambiamos el tiempo de duracion de la animacion */
  }