<div class="row">
  <div class="col-md-10 col-xs-8 text-center">
    <input type="text" class="form-control" placeholder="Buscar" (keyup)="buscar(txtBuscar.value)" #txtBuscar>
  </div>
  <div class="col-md-2 col-xs-4 text-right">
    <a class="cursor btn btn-primary mr-4" style="color: white;" (click)="abrirModalCreacion()" data-toggle="tooltip">
      <i class="fas fa-user-md mr-2" style="color: white;"></i>
      Agregar Medico
    </a>
  </div>
</div>

<div *ngIf="loader" class="d-flex align-items-center justify-content-center">
  <div class="row">
    <div class="col-12">
      <div class="mt-2 mb-2 text-center animate__animated animate__fadeIn">
        <p><b>Cargando..</b></p>
        <i class="fa fa-spinner fa-2x fa-spin mb-2" aria-hidden="true"></i>
        <p><b>Espere por favor.</b></p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <table *ngIf="!loader" class="table animate__animated animate__fadeInDown">
      <thead>
        <tr>
          <th class="w100" scope="col"></th>
          <th scope="col">Nombre</th>
          <th scope="col">Especializacion</th>
          <th scope="col">Hospital</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let medico of medicos">
          <td class="text-center">
              <img class="img-avatar" [src]="medico.img | imagen:'medicos'" alt="image" (click)="cambiarImagenMedico(medico)">
          </td>
          <td>{{ medico.nombre }}</td>
          <td>{{ medico.especialidad }}</td>
          <td>{{ medico.hospitalId.nombre }}</td>
          <td>
            <a [routerLink]="['/dasboard/medico', medico.Guid]" class="cursor btn btn-outline-info mr-4" data-toggle="tooltip" data-original-title="Editar"><i class="mdi mdi-account-edit"></i></a>
            <a class="cursor btn btn-outline-danger" (click)="borrar(medico)" data-toggle="tooltip" data-original-title="Borrar"><i class="mdi mdi-delete"></i></a>            
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div *ngIf="medicos.length === 0 && txtBuscar.value.length > 0" class="d-flex align-items-center justify-content-center">
  <div class="row">
    <div class="col-12">
        <div class="mt-2 mb-2 text-center animate__animated animate__fadeIn">
          <p><b>Sin resultados</b></p>
        </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-10">
    <nav *ngIf="medicos.length !== 0" class="animate__animated animate__fadeInDown" aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li class="page-item">
          <a (click)="cambiarPagina(-10)" class="page-link" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="page-item">
          <a (click)="cambiarPagina(10)" class="page-link" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="col-2" style="align-content: end;">
    <p class="text-center">Total de registros: {{ totalMedicos }}</p>
  </div>
</div>